:root {
  --slate: #434455;
  --white: #ffffff;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower; #e7e9fc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img{
  display:block;
}

.logo {
  color: var(--iris, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.studio-color {
  color: var(--navyblue, #2e2f42);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  text-decoration: none;
  color: #404bbf;
}

.list {
  color: var(--navyblue, #2e2f42);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style: none;
  display:flex;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
 }

.address-list {
  color: var(--slate, #434455);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style: none;
}

.footer-item {
  color: var(--cloud, #f4f4fd);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: var(--navyblue, #2e2f42);
}

.footer-studio-color {
  color: var(--cloud, #f4f4fd);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: var(--slate, #434455);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style: none;
  color: var(--cloud);
}

.filter-main-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--iris, #4d5ae5);
  background-color: var(--cloud, #f4f4fd);
}

.filter-main-button:hover,
.filter-main-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.card {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--navyblue, #2e2f42);
  font-style: normal;
}

.main-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate, #434455);
}

.first-section-background {
  background-color: var(--navyblue, #2e2f42);
  padding: 188px 0;
}

.first-section-text {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
}

.order-service-btn {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px; 
  cursor: pointer;
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.second-section-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navyblue, #2e2f42);
}

.fourth-section-background {
  background-color: #f4f4fd;
}

.container-background {
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* max-width: 1440px; */
  padding-left: 15px;
  padding-right: 15px;
  width:1158px;
  margin:0 auto;
  display: flex;
    
}

.header-style {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #ffffff);
  padding-top: 24px;
  padding-bottom: 24px;
  
 }

